<app-navbar></app-navbar>
<!-- cards.component.html -->
<h2>Mejores Tracks por Votacion Amazon Music & Apple Music</h2>
<div class="card-container">
  <div class="card">
    <img src="../../../assets/GA PORTADA.jpg" alt="Thumbnail">
    <div class="card-content">
      <h3>GA</h3>
      <p>Cancion mas reciente del artista, inspirada en el genero Tech House
      </p>
    </div>
  </div>
  <div class="card">
    <img src="https://i1.sndcdn.com/artworks-QNDwfYwJZCoq-0-t500x500.jpg" alt="Thumbnail">
    <div class="card-content">
      <h3>RELAX</h3>
      <p>Remix del clasico relax take it easy </p>
    </div>
  </div>

  <div class="card">
    <img src="https://i1.sndcdn.com/artworks-B2azra5XBEJx-0-t500x500.jpg" alt="Thumbnail">
    <div class="card-content">
      <h3>I FEEL IT</h3>
      <p>Cancion inspirada en deep house</p>
    </div>
  </div>

  <div class="card">
    <img src="https://i1.sndcdn.com/artworks-Rsi8ecIvuQYq-0-t240x240.jpg" alt="Thumbnail">
    <div class="card-content">
      <h3>BIG RAVE</h3>
      <p>Cancion la cual hace un breve Homenaje al poderoso BIGROOM</p>
    </div>
  </div>

  <div class="card">
    <img src="https://i.scdn.co/image/ab67616d00001e02161494efcbe46e40b299f813" alt="Thumbnail">
    <div class="card-content">
      <h3>MELODIE</h3>
      <p>Cancion Inspirada en el genero Future House</p>
    </div>
  </div>

  <div class="card">
    <img src="https://i1.sndcdn.com/artworks-TBNv68toiMoK-0-t500x500.jpg" alt="Thumbnail">
    <div class="card-content">
      <h3>YOSHI THEME</h3>
      <p>Cancion Dedicada a Yoshi en genero Future House y Bass</p>
    </div>
  </div>

  <div class="card">
    <img src="https://i1.sndcdn.com/artworks-TfOb1alXIyQ2dgMV-y3ucZQ-t500x500.jpg" alt="Thumbnail">
    <div class="card-content">
      <h3>UNTIL ALWAYS</h3>
      <p>Cancion inspirada en progressive house</p>
    </div>
  </div>

  <div class="card">
    <img src="https://i.ytimg.com/vi/mNxC9tM6z7o/hqdefault.jpg" alt="Thumbnail">
    <div class="card-content">
      <h3>LOST CONTROL</h3>
      <p>Cancion inspirada en Melodic Techno, agregandole un toque personal</p>
    </div>
  </div>

  <div class="card">
    <img src="https://i.ytimg.com/vi/uBpky-GW92c/hqdefault.jpg" alt="Thumbnail">
    <div class="card-content">
      <h3>MY HOUSE</h3>
      <p>Cancion inspirada en Tech Techno</p>
    </div>
  </div>

  <div class="card">
    <img src="https://i.ytimg.com/vi/cFr9YPVOg8I/maxresdefault.jpg" alt="Thumbnail">
    <div class="card-content">
      <h3>HORUS</h3>
      <p>Collab con Saynx demostrando el esplendor del EDM.
        KRVA || Avvy Aston son la misma persona
      </p>
    </div>
  </div>
  <!-- Agrega más cards según sea necesario -->
</div>

<app-footer></app-footer>
