<div class="imagen-container">
  <img src="../../../assets/IMG-4601-animation-unscreen (1).gif" alt="Imagen centrada" class="imagen">
</div>
<div class="container">
  <h1>Avvy Aston</h1>
  <br>
  <div id="carouselExample" class="carousel slide pb-4" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <iframe width="300" height="190" src="https://www.youtube.com/embed/fkHofhe3GOg?si=duZyOEFUvFnO8oHn"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="carousel-item ">
        <iframe width="300" height="190" src="https://www.youtube.com/embed/nDXPu7KDBfI?si=61Xm77ACxpgsp2XY"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="carousel-item">
        <iframe width="300" height="190" src="https://www.youtube.com/embed/mNxC9tM6z7o?si=gc26yBuK0VomqA86"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="carousel-item ">
        <iframe width="300" height="190" src="https://www.youtube.com/embed/nic-OBtCFDk?si=HtJ-NWCdc3AHOKlt"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>
